src/main/mule/youzarsif.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7bec20ad-92d7-42c7-ae81-4c5a098fa197" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="youzarsifFlow" doc:id="0b09d9a0-778e-463f-9ae8-b59ac8fe2aef" >
		<http:listener doc:name="Listener" doc:id="278aceef-27ad-4d88-bcb9-d1f150d11d41" config-ref="HTTP_Listener_config" path="test"/>
		<ee:transform doc:name="Transform Message" doc:id="7023145c-df50-44f6-9c93-66d8819961f6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"There is no God but Allah"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e42b2b74-42bf-40e2-8a76-beb0b62d2fea" message="#[payload]"/>
	</flow>
</mule>
